<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<span><%= status %></span>
		
		<form method = "post" action="">
			<img src="http://placehold.it/300x300">
			<input name="login" id="login" type="text" placeholder="Логин">
			<input name="password" id="password" type="password" placeholder="Пароль">
			<button type="submit">Войти</button>
		</form>
	</body>
</html>
