<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<form method = "get" action="/">
			<input id="login" type="text">
			<br>
			<input id="password" type="password">
			<br>
			<button type="submit">Войти</button>
		</form>
	</body>
</html>