<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/st/login_page.css"> 
	</head>
	<body>		
		<form method = "post" action="">
			<img src="http://placehold.it/300x300">
			<p><%= status %></p>
			<input name="login" id="login" type="text" placeholder="Логин">
			<input name="password" id="password" type="password" placeholder="Пароль">
			<button type="submit">Войти</button>
		</form>
	</body>
</html>
