<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/st/longread_creation.css"></link>
    <!--Input editor scripts here-->
  </head>
  <body>
    <div class="header">

    </div>
    <div class="longread">
      <div class="longread__name form" contenteditable="true">

      </div>
      <div class="longread__tegs form" contenteditable="true">

      </div>
      <div class="longread__body form" contenteditable="true">

      </div>
    </div>
  </body>
</html>
