<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/st/longread_creation.css"></link>
    <!--Input editor scripts here-->
    <script src="/st/js/medium-editor.js"></script>
    <script>
      var id = <%= id %>;
    </script>
  </head>
  <body>
    <div class="header">

    </div>
    <div class="longread__wrapper">
      <div class="longread__field longread__field__title form" contenteditable="true">
          Тьфу
      </div>
      <div class="longread__field longread__field__lead form" contenteditable="true">
          Совершенно случайно мы наткнулись на такую вещь, блин
      </div>
      <div class="longread__field longread__field__body form editable" contenteditable="true">
          <p>Test</p>
      </div>
      <script>
        var editor = new MediumEditor('.editable');
      </script>
      <button class="button__submit">
        Save
    </button>
    </div>
  </body>
</html>
