<!DOCTYPE html5>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/st/longreads_list.css">
    <link rel="stylesheet" href="/st/main.css">
    <link rel="stylesheet" href="/st/longreads.css">

    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/st/longreads_list.js"></script>
</head>

<body>
    <% for (var i = 0; i < articles.length; i+= 1) { %>
        <div class="longread">
            <a href="/admin/longread/edit/<%= articles[i].id %>">
                <div class="longread__field__title">
                    <%= articles[i].title %>
                </div>
            </a>
            <div class="longread__field__lead">
                <%= articles[i].lead %>
            </div>
            <div class="longread__info">
                <div class="longread__info__author">
                    Александор Пистолетов
                </div>
                <div class="longread__info__date">
                    9 ноября 1917 года
                </div>
            </div>
        </div>
    <% } %>
    <a href="/admin/longread/create" class="longread-list__btn__create">Создать лонгрид</button>
</body>

</html>
