<!DOCTYPE html>
<html>
	<head>
		<script>
			function delete_cookies() {

			};
		</script>
	</head>
	<body>
		<%= login %>
		<br>
		<%= pass %>
		<br>
		<%= userpic %>
		<br>
		<form method="get" action="/info">
			<button type="submit">Профиль</button>
		</form>
		<form method="post" action="/exit">
			<button type="submit">Log out</button>
		</form>
	</body>
</html>	