<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<%= login %>
		<br>
		<%= pass %>
		<br>
		<%= userpic %>
		<br>
		<form method="get" action="/login">
			<button type="submit" onclick="req.session.destroy(function(err){})">Logает</button>
		</form>
	</body>
</html>