<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/st/longread_creation.css"></link>
    <meta charset="utf-8">
</head>

<body>
    <div class="header">
    </div>
    <div class="longread">
        <h1>Рыба</h1>
        <p>
            Чтобы показать заказчику эскизы, нужно где-то найти тексты и картинки. Как правило, ни того, ни другого в момент показа эскизов у дизайнера нету. Что же делает дизайнер? <b>Рыбу</b>.
        </p>
        <p>
            Рыбу можно вставлять, использовать, вешать, заливать, показывать,
            <i>запихивать</i>... Словом, с ней делают что угодно, лишь бы эскиз был <u>максимально похож на готовую работу</u>.
        </p>
        <h2>Пример</h2>
        <blockquote>
            <p>
                Те, кому когда-либо приходилось делать в квартире ремонт, наверное, обращали внимание на старые газеты, наклеенные под обоями. Как правило, пока все статьи не перечитаешь, ничего другого делать не можешь. Интересно же — обрывки текста, чья-то жизнь...
                Так же и с рыбой. Пока заказчик не прочтет всё, он не успокоится. Бывали случаи, когда дизайн принимался именно из-за рыбного текста, который, разумеется, никакого отношения к работе не имел.
            </p>
        </blockquote>
        <p>
            Если в качестве рыбных картинок использовать цветные прямоугольники, а вместо текста — несколько повторяющихся слов, эскиз будет выглядеть неестественно.
        </p>
        <h3>Кто виноват</h3>
        <p>
            Иногда даже хорошие дизайнеры не утруждают себя набиванием абстрактного текста, а вписывают три-четыре слова (пример в левой колонке). Это очень плохо, потому что не позволяет зрителю оценить, как на самом деле будет выглядеть текст. Повторяющийся паттерн
            (узор) текста — один из самых плохих эффектов при показе дизайна.
        </p>
    </div>
    <button>Нажми меня</button>
    <a href="#">Перейди по мне</a>
    <form>
        <input name="login" id="login" type="text" placeholder="Логин">
        <input name="password" id="password" type="password" placeholder="Пароль">
    </form>
</body>

</html>
