/*.header {
    width: 100vw;
    height: 5vh;
    background-color: grey;
}*/

.longread__wrapper {
    min-height: 92vh;

    width: 96%;
    height: auto;

    padding-top: 2vh;
    padding-left: 2%;
    padding-right: 2%;
}

/*.form:hover {
    border: 1px solid lightgrey;
}*/

/* MEDIUM EDITOR */

.medium-editor-toolbar {
    visibility: hidden;
}

.medium-editor-toolbar-active {
    visibility: visible;
    position: absolute;
}

.medium-editor-toolbar-form {
    visibility: hidden;
}

.medium-editor-toolbar-form-active {
    visibility: visible;
}

.medium-editor-toolbar > ul {
    margin: 0;
    padding: 0;
}

.medium-editor-toolbar > ul > li {
    list-style: none;
    float: left;
}
