body {
  margin: 0px;
  background-color: #f0f0f0;
  padding-top: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;

}

.longread {
  width: 96vw;
  padding: 1vw;

  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

.longread__title {

}

.longread-list__btn__create {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36pt;
    border: 2px solid #FFF9E9;
    border-radius: 10px;
    padding: 5px 20px;
    text-align: center;
    width: 400px;

    color: #FFF9E9;
}
