body {
  margin: 0px;
  background-color: #f0f0f0;
}

.header {
  width: 100vw;
  height: 5vh;
  background-color: grey;
}

.longread {
  min-height: 92vh;

  width: 96vw;
  height: auto;

  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.form:hover {
  border: 1px solid lightgrey;
}

.longread__name {
  min-height: 5vh;
  width: 96vw;

  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  text-align: center;
}

.longread__tegs {
  min-height: 5vh;
  width: 96vw;

  background-color: white;
}

.longread__body {
  min-height: 80vh;
  width: 96vw;

  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
