 @import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&subset=cyrillic');

body {
    margin: 0px;
    background-color: #3D3D36;
    font-family: 'PT Sans';
}

/*.header {
    width: 100vw;
    height: 5vh;
    background-color: grey;
}*/

.longread__wrapper {
    min-height: 92vh;

    width: 96%;
    height: auto;

    padding-top: 2vh;
    padding-left: 2%;
    padding-right: 2%;
}

/*.form:hover {
    border: 1px solid lightgrey;
}*/

.longread__field {
    min-height: 5vh;
    /*width: 96vw;*/

    padding: 0 10px;

    background-color: #FFF9E9;
}

.longread__field__title {
    font-size: 36pt;
    font-weight: bold;

    font-family: 'PT Sans Caption';
}

.longread__field__body {
    font-family: 'PT Serif';
}

.longread__field__body > p {
    margin: 0;
    padding: 5px 0;
}

/* MEDIUM EDITOR */

.medium-editor-toolbar {
    visibility: hidden;
}

.medium-editor-toolbar-active {
    visibility: visible;
    position: absolute;
}

.medium-editor-toolbar-form {
    visibility: hidden;
}

.medium-editor-toolbar-form-active {
    visibility: visible;
}

.medium-editor-toolbar > ul {
    margin: 0;
    padding: 0;
}

.medium-editor-toolbar > ul > li {
    list-style: none;
    float: left;
}
