.first-screen__wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #F8C62C;
    display: flex;
}

#first-screen__logo {
    width: 40vw;
}

.first-screen__about {
    width: 40vw;
    border-left: 1px solid;
}
