@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&subset=cyrillic');

body {
   margin: 0px;
   background-color: #3D3D36;
   font-family: 'PT Sans';
}

.
